@using Appointment_Scheduler.Controllers

@model IEnumerable<Appointment_Scheduler.Models.Appointment> 

@{
    ViewData["Title"] = "Index";
}

<h1>Dashboard</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<asp:RadioButton id="todayRadio" Text="Today's Schedule'" Checked="True" onclick="" GroupName="RadioGroup1" runat="server" />
<asp:RadioButton id="allRadio" Text="All Appointments'" Checked="false" GroupName="RadioGroup1" runat="server" />



<div class="row">
    <div class="column">
        <h1><b>Appointment View</b></h1>
        <table class="table" id="indexTable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ScheduledDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StartTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EndTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Created)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ScheduledDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
    </div>
    <div class="column">
        <h1><b>Daily View</b></h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Day</th>
                    <th>Number Of Appointments</th>
                </tr>
                <tr>
                    <td>Monday</td>
                    <td>@AppointmentsController.numOfApptDaily["Monday"]</td><!--Number for each day 0-->
                </tr>
                <tr>
                    <td>Tuesday</td>
                    <td>@AppointmentsController.numOfApptDaily["Tuesday"]</td><!--Number for each day 1-->
                </tr>
                <tr>
                    <td>Wednesday</td>
                    <td>@AppointmentsController.numOfApptDaily["Wednesday"]</td><!--Number for each day 2-->
                </tr>
                <tr>
                    <td>Thursday</td>
                    <td>@AppointmentsController.numOfApptDaily["Thursday"]</td><!--Number for each day 3-->
                </tr>
                <tr>
                    <td>Friday</td>
                    <td>@AppointmentsController.numOfApptDaily["Friday"]</td><!--Number for each day 4-->
                </tr>
                <tr>
                    <td>Saturday</td>
                    <td>@AppointmentsController.numOfApptDaily["Saturday"]</td><!--Number for each day 5-->
                </tr>
                <tr>
                    <td>Sunday</td>
                    <td>@AppointmentsController.numOfApptDaily["Sunday"]</td><!--Number for each day 6-->
                </tr>

          </thead>
          </table>
    </div>
</div>


